<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jenkonportal-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>136D68EE1ECA900C001BF8F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>136D69071ECA900C001BF8F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>136D69121ECA900C001BF8F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
